<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    {{!-- <link rel="stylesheet" href="/index.css"> --}}

    <title>Document</title>
</head>

<body>
    <header>
        <div class="top">
            <b>
                P <br> r <br> o <br> f <br> i <br> l <br> e
            </b>
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
    <div class="top-1"><b>
            <p><a href="/" class="button" type="button">PROFILE o•</a></p>
            <p><a href="/aboutme" class="button" type="button">ABOUTME o•</a></p>
            <p><a href="/skill" class="button" type="button">SKILL o•</a></p>
            <p> <a href="/education" class="button" type="button">EDUCATION o•</a></p>
            <p> <a href="/work" class="button" type="button">WORK o•</a></p>
        </b></div>

</body>

</html>