{{#with myData.Education}}
<div class="">
    <div class="login">
        <div class="login-l">
            <img src="..\pic\3.jpg" alt="" srcset="">
            <!-- <img src="..\pic\.jpg" alt="" srcset=""> -->

        </div>
        <div class="login-r">
            <center>
                <div class="tsp">
                    <h2><b>MY</b> <b>E</b>ducation </h2>
                </div>
            </center>
            <P></P>
            <div class="left">
                <p><b> GRADUATED : </b></p>

                {{Junior}}
                <br>
                <br>
                {{High}}
<BR></BR>
                <p><b>CURRENTLY :</b></p>

                {{University}}



            </div>
        </div>
    </div>
</div>
{{/with}}